parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $redisHost: '%env(REDIS_HOST)%'
            $redisPort: '%env(int:REDIS_PORT)%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\EventListener\FindingIdListener:
        tags:
            - { name: doctrine.event_listener, event: prePersist }
